{#
   Featured Clinics for campus locations
#}
{% if content.field_res_featured_clinics.0 is not empty %}
  <section class="clinic-page__featured-clinics">

    <div class="container-xl">

      {% if content.field_res_feat_clinics_header.0 is not empty %}
        <h2 class="leader">{{ content.field_res_feat_clinics_header }}</h2>
      {% endif %}

      {# @see field--node--field-res-featured-clinics--res-clinic.html.twig #}
      {{ content.field_res_featured_clinics }}

      {% if content.field_res_feat_clinics_view_all.0 is not empty %}
      <div class="clinic-page__featured-view-all">
        <a class="btn btn-cta-solid clinic-page__cta-btn" href={{"#{content.field_res_feat_clinics_view_all.0}"}}>See all clinics</a>
      </div>
      {% endif %}
    </div>

  </section>
{% endif %}

{#
   Services section (Clinic Expertises field)
#}
{% if content.field_res_expertises is not empty %}
  <section class="clinic-page__services uwm-toggle">

    <div class="container-xl">

      <h2 class="leader">
        {% if content.field_clinic_services_header|render is not empty %}
          {{ content.field_clinic_services_header }}
        {#{% elseif _cli.clinicTimeUseMasters[1].hoursOfOperation %}#}
          {#{{ "This clinic offers primary and urgent care, including:"|t }}#}
        {% else %}
          {{ "Services available at this location include:"|t }}
        {% endif %}
      </h2>


      {% set expertises = content.field_res_expertises|uwm_filter_non_numeric_keys|uwm_replace_links_with_text|sort %}

      <ul class="row">
        {% for s in expertises %}
          <li class="col-xs-12 col-sm-6 col-md-4">
            {{ s }}</li>
        {% endfor %}
      </ul>

      {#{{ content.field_res_expertises }}#}

      {#{% if expertises|length > 6 %}#}
      {#<div class="uw-more visible-xs-block">#}
      {#<a href="#" data-uwm-toggle#}
      {#data-on-text="{{ 'View less'|t }}"#}
      {#data-off-text="{{ 'View more'|t }}"#}
      {#data-toggle-selector=".services li"#}
      {#data-toggle-style="on"#}
      {#data-parent-style="on">{{ 'View more'|t }}#}
      {#<i#}
      {#class="fa fa-angle-down"#}
      {#aria-hidden="true"></i></a>#}
      {#</div>#}
      {#{% endif %}#}

    </div>

  </section>
{% endif %}

{#
   "Sections: Resources" paragraph field
#}
{% if content.field_uwm_sections.0 is not empty %}
  {{ content.field_uwm_sections }}
{% endif %}

{#
   Body field
#}
{% if content.body.0 is not empty %}
  <section class="clinic-page__overview">
    <div class="container-xl">

      {# Left sidebar "Overview" link destination #}
      <a name="overview" id="overview"></a>

      {{ content.body }}

    </div>

  </section>
{% endif %}
