{% extends "@uwmbase/containers/article/article.twig" %}

{#
/**
 * @file
 * Theme override to display a Res Clinic node in full page view mode.
 *
 * Note:
 * Via preprocess, the 'url' variable is overridden to link to the value from
 * field_res_external_url, if it's not on uwmedicine.org.
 *
 * Custom variables:
 * - url_not_uwmedicine_org: boolean, true if the 'url' links to a site other
 *   than uwmedicine.org
 * - hours: array of hours of operation data, including whether always open or
 *   daily hours for primary care or hours open, and urgent care if offered
 * - is_hospital: boolean, whether this clinic is a hospital, from
 *   field_res_is_hospital if present.
 *
 * @see template_preprocess_node()
 * @see uwmbase_preprocess_node()
 * @see _uwmbase_node_parse_json_field()
 */
#}

{% import directory ~'/components/clinic-hours/clinic-hours-macros.twig' as _hoursMacro %}

{% set modifier_class = attributes.class ~ ' clinic-page' %}

{% set has_urgent_care = hours.urgent is not empty %}
{% set hide_appointment_ctas = node.field_res_hide_appt_ctas.value %}
{% set hide_contact_clinic_ctas = false %}
{% set hide_returning_patient_cta = node.field_res_hide_returning_cta.value %}
{% set hide_open_scheduling_cta = node.field_res_hide_open_scheduling.value %}
{% set has_open_scheduling = content.field_res_epic_department_ids.0 %}
{% set has_phone = content.field_res_phone_number.0 is not empty %}

{% set is_building_type_location = node.field_res_is_building.value %}

{% if is_building_type_location %}
  {% set hide_appointment_ctas = true %}
  {% set hide_contact_clinic_ctas = true %}
{% endif %}

{#
  Set a boolean for showing the Care Providers jump link and tab.
  Clinic nodes that are hospitals have providers referenced, but they should not
  be displayed because there are too many. Note that attempting to load and
  render hundreds of nodes is a performance issue, so the field value is
  overridden to be empty before the render array is built.
  @see uwmcs_utils_entity_prepare_view()
#}
{% set show_providers = (content.field_res_providers.0 is not empty) and (not is_hospital) %}


{% block content %}

  {{ attach_library('uwmbase/clinic-page') }}

  {{ title_suffix }}

  <div class="clinic-page__gradient_background">

    <div class="container-xl padding-md">

      <section class="clinic-page__header">

        <div class="clinic-page__right">

          <div class="clinic-page__title">
            <h1 class="page-title">{{ label }}</h1>
          </div>

          <div class="clinic-page__hours-ctas">

            {# "Make an Appointment" or "Contact Information" CTA box (left) #}
            <div class="clinic-page__ctas clinic-page__ctas-primary">

              {% if not hide_appointment_ctas %}

                {# "Make an Appointment" box #}
                {% if (has_open_scheduling and not hide_open_scheduling_cta) or (has_phone) %}

                  <div class="clinic-page__cta clinic-page__cta-appointment">
                    <div class="clinic-page__cta-header">
                      <h2>{{ "Make an Appointment"|t }}</h2>
                    </div>
                    <div class="clinic-page__cta-content">

                      {#
                        "Book online" button - eCare open (and possibly direct)
                        scheduling via modal flow
                      #}
                      {#
                        Original:
                        @see field--node--field-res-epic-department-ids--res-clinic.html.twig

                      {% if has_open_scheduling and not hide_open_scheduling_cta %}
                        {{ content.field_res_epic_department_ids }}
                      {% endif %}
                      #}

                      {# TODO: update to open_scheduling per Epic values #}
                      {% if has_open_scheduling and not hide_open_scheduling_cta %}

                        {% include '@uwmbase/clinic-page/node--res-clinic--full.book-online-btn.html.twig' with {
                          'modal_appt_context': 'clinic_page'
                        } %}

                      {% endif %}

                      {#
                        Phone number button
                        @see field--node--field-res-phone-number--res-clinic.html.twig
                      #}
                      {% if has_phone %}
                        {{ content.field_res_phone_number }}
                      {% endif %}

                      {#
                        If not displaying both buttons, add calendar icon in the
                        second space.
                      #}
                      {% if not (has_open_scheduling and not hide_open_scheduling_cta and has_phone) %}
                        <div class="clinic-page__cta-icon clinic-page__cta-icon-calendar d-none d-md-block"></div>
                      {% endif %}

                    </div>
                  </div>

                {% endif %}

              {% elseif not hide_contact_clinic_ctas %}

                {# "Contact Information" box #}
                {% if has_phone %}

                  <div class="clinic-page__cta clinic-page__cta-contact">
                    <div class="clinic-page__cta-header">
                      <h2>{{ "Contact Information"|t }}</h2>
                    </div>
                    <div class="clinic-page__cta-content">

                      {#
                        Phone number button
                        @see field--node--field-res-phone-number--res-clinic.html.twig
                      #}
                      {{ content.field_res_phone_number }}

                      <div class="clinic-page__cta-icon clinic-page__cta-icon-heart"></div>
                    </div>
                  </div>

                {% endif %}

              {% endif %}

            </div> <!-- /.clinic-page__ctas-primary -->

            {# Primary hours of operation #}
            {% if hours is not empty and hours.operation is not empty %}
              <div class="clinic-page__hours clinic-page__hours-primary">
                <div class="clinic-page__hours-set clinic-page__hours-operation">

                  <div class="clinic-page__hours-header-wrap">

                    {{ _hoursMacro.display_mobile_primary_hours_header(hours, has_primary_care, has_urgent_care, is_building_type_location) }}

                    {#
                        Use Bootstrap Collapse to toggle hours on mobile/tablet.
                        @see https://getbootstrap.com/docs/4.0/components/collapse/
                    #}
                    <button
                      class="clinic-page__hours-toggle collapsed"
                      data-toggle="collapse"
                      data-target="#clinic-hours-operation-details"
                      aria-expanded="false"
                      aria-controls="clinic-hours-operation-details"
                    >
                      <span
                        class="visually-hidden">{{ "Toggle hours details"|t }}</span>
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    </button>
                  </div>

                  <div
                    class="clinic-page__hours-details collapse"
                    id="clinic-hours-operation-details"
                  >

                    {% if hours.operation.always_open %}

                      <p>{{ "This location is open 24 hours a day, 7 days a week."|t }}</p>

                    {% else %}

                      {{ _hoursMacro.display_days_table(hours.operation.days) }}

                    {% endif %}

                  </div>
                </div>
              </div>
            {% endif %}

            {# "Walk-in Visit" or "Returning Patients" CTA box (right) #}
            {% if hide_returning_patient_cta or hide_appointment_ctas %}

              <div class="clinic-page__ctas clinic-page__ctas-secondary clinic-page__cta-hidden">
              </div> <!-- /.clinic-page__ctas-secondary -->

            {% else %}

              <div class="clinic-page__ctas clinic-page__ctas-secondary">

                {#
                  "Walk-in Visit" box -
                  Urgent care Clockwise wait time and link
                  @see field--node--field-res-clockwise-id--res-clinic.html.twig
                #}
                {% if content.field_res_clockwise_id.0 is not empty %}

                  {{ content.field_res_clockwise_id }}

                {% else %}

                  {# "Returning Patients" box #}
                  <div class="clinic-page__cta clinic-page__cta-returning">
                    <div class="clinic-page__cta-header">
                      <h2>{{ "Returning Patients"|t }}</h2>
                    </div>
                    <div class="clinic-page__cta-content">

                      {#
                        "Sign in & book online" button - eCare direct scheduling
                      #}
                      {% set cta_special_attributes = []|merge({'data-context-title': node_title|trim}) %}
                      {{ uwm_cta_link("Sign in &amp; book online"|t,
                        'https://ecare.uwmedicine.org/prod01/inside.asp?mode=apptsched',
                        ['btn-cta-solid', 'clinic-page__cta-btn', 'clinic-page__cta-btn--full-width'],
                        cta_special_attributes) }}

                    </div>
                  </div>

                {% endif %}

              </div> <!-- /.clinic-page__ctas-secondary -->

            {% endif %}

            {# Secondary hours (urgent care) #}
            {% if hours.operation is not empty and has_urgent_care %}
              <div class="clinic-page__hours clinic-page__hours-secondary">
                <div class="clinic-page__hours-set clinic-page__hours-urgent">

                  <div class="clinic-page__hours-header-wrap">

                    {{ _hoursMacro.display_mobile_urgent_hours_header(hours) }}

                    {#
                        Use Bootstrap Collapse to toggle hours on mobile/tablet.
                        @see https://getbootstrap.com/docs/4.0/components/collapse/
                    #}
                    <button
                      class="clinic-page__hours-toggle collapsed"
                      data-toggle="collapse"
                      data-target="#clinic-hours-urgent-details"
                      aria-expanded="false"
                      aria-controls="clinic-hours-urgent-details"
                    >
                      <span
                        class="visually-hidden">{{ "Toggle hours details"|t }}</span>
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    </button>

                  </div>

                  <div
                    class="clinic-page__hours-details collapse"
                    id="clinic-hours-urgent-details"
                  >

                    {% if hours.urgent.always_open %}

                      <p>{{ "This location is open 24 hours a day, 7 days a week."|t }}</p>

                    {% else %}

                      {{ _hoursMacro.display_days_table(hours.urgent.days) }}

                    {% endif %}

                  </div>
                </div>
              </div>

              {#
                  This text is stored in a custom content block so it's
                  manageable in the admin UI.
                  @see uwmbase_preprocess_node()
              #}
              {% if block_note_urgent_close is not empty %}
                <div class="clinic-page__note clinic-page__note-urgent-close">
                  {{ block_note_urgent_close }}
                </div>
              {% endif %}
            {% endif %}

          </div>
        </div>

        <div class="clinic-page__left">

          <div class="clinic-page__image">
            {% if content.field_res_image|render|trim is empty %}
              <img
                src="/{{ directory }}/src/assets/uwmed_location_card_placeholder.svg"
                alt="" class="img-fluid"/>
            {% else %}
              {{ content.field_res_image }}
            {% endif %}
          </div>

          <address class="clinic-page__address">
            {% if content.field_res_building.0|render|striptags|trim is not empty %}
              <a href="#directions-tab-tab---">{{ content.field_res_building.0 }}</a>
            {% endif %}
          </address>

          {% if content.field_res_fax_number.0 is not empty %}
            <div class="clinic-page__fax">
              {{ content.field_res_fax_number }}
            </div>
          {% endif %}

          <div class="clinic-page__link clinic-page__link-overview">
            <a href="#main-tab-tab---overview">{{ is_hospital ? "Hospital Overview"|t : "Overview"|t }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </div>

          {# See providers display logic above #}
          {% if show_providers %}
            <div class="clinic-page__link clinic-page__link-providers {{ hide_providers_css_class }}">
              <a href="#providers-tab-tab---">{{ "Care Providers"|t }}</a>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
          {% endif %}

          <div class="clinic-page__link clinic-page__link-directions">
            <a href="#directions-tab-tab---">{{ "Directions"|t }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </div>

        </div>
        {# Adding a second row of columns to accomodate 911 text at the very bottom in mobile and tablet #}
        <div class="clinic-page__right-two">
          {#
            This is a spot to add custom notes about a location
          #}
          {% if content.field_res_location_note.0 is not empty %}
            <div class="clinic-page__note clinic-page__note-emergency">
              {{ content.field_res_location_note }}
            </div>
          {% endif %}
          {#
             This text is stored in a custom content block so it's manageable
             in the admin UI.
             @see uwmbase_preprocess_node()
          #}
          {% if block_note_emergency is not empty %}
            <div class="clinic-page__note clinic-page__note-emergency">
              <span class="uwm-icon uwm-icon--phone-911"
                    aria-hidden="true"></span>
              {{ block_note_emergency }}
            </div>
          {% endif %}
        </div>
        <div class="clinic-page__left-two"></div>

      </section>

    </div>

  </div>

  {#
     "Banner Content" paragraph field
  #}
  {% if content.field_uwm_banner_content.0 is not empty %}
    {{ content.field_uwm_banner_content }}
  {% endif %}

  <div class="clinic-page__tabs">

    {% include directory ~ '/components/clinic-page/node--res-clinic--full.tabs.html.twig' %}

  </div>

  {#
     "Sections: Spotlight" paragraph field
  #}
  {% if content.field_uwm_sections_2.0 is not empty %}
    {{ content.field_uwm_sections_2 }}
  {% endif %}

{% endblock %}
