{#
/**
 * @file
 * Theme override to display a Res Clinic node in Card view mode.
 *
 * Note:
 * Via preprocess, the 'url' variable is overridden to link to corresponding
 * UWMed node as appropriate.
 *
 * Custom variables:
 * - url_not_uwmedicine_org: boolean, true if the 'url' links to a site other
 *   than uwmedicine.org
 *
 * @see template_preprocess_node()
 * @see uwmbase_preprocess_node()
 */
#}
{{ attach_library('uwmbase/clinic-card') }}

{#
  Bootstrap grid:
  - `container` is in page template
  - `row` is in view rows template
  - `col-*` classes are here - these must be children of `row` for flexbox
  @see page--search--locations.html.twig
  @see views-view--unformatted--uwm-locations-geo-search--page-1.html.twig
  @see views-view-unformatted--uwm-locations-search--page-1.html.twig
#}
<article {{ attributes.addClass(['clinic-card', 'col-sm-6', 'col-lg-4', 'col-xxl-3']) }}>
  <div class="clinic-card__inner">

    {#
      Distance away (if searched by location coordinates)
      This is a custom property added to the node in views preprocessing.
      @see _uwmed_uwmcms_search_preprocess_views_view_uwm_locations_geo_search()
    #}
    {% if node.view_field__distance_away_miles is not empty %}
      <div class="clinic-card__distance-miles">
        {{ node.view_field__distance_away_miles }} mi
      </div>
    {% endif %}

    <div class="clinic-card__image">
      {#
        Clinic Image
        The placeholder image is rendered here if the field is empty.
        Link is applied in field template.
        @see field--node--field-res-image--res-clinic.html.twig
      #}
      {% if content.field_res_image|render|trim is empty %}
        <a href="{{ url }}" rel="bookmark">
          <img src="/{{ directory }}/src/assets/uwmed_location_card_placeholder.svg" alt="" class="img-fluid" />
        </a>
      {% else %}
        {{ content.field_res_image }}
      {% endif %}
    </div>

    <div class="clinic-card__details">
      {#
        The <address> element should contain the name for which the address is
        relevant - thus wrapping the name and Building fields.
      #}
      <address class="clinic-card__address">
        <h2 class="clinic-card__name"><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
        {{ title_suffix }}

        {#
          Address
          This is the Building term, rendered in the "Building: Address only"
          view mode, to print its address field only. The address has been
          modified in preprocess to inject the Floor and Room Number fields from
          this node.
          @see uwmbase_preprocess_node()
          @see uwmbase_preprocess_taxonomy_term()
          @see taxonomy-term--buildings--building-address.html.twig
          @see address-plain--buildings.html.twig
          @TODO: improve this - bypass rendering term
        #}
        {% if content.field_res_building.0|render|striptags|trim is not empty %}
          {% if not url_not_uwmedicine_org %}
            {#
              Use hash to activate and scroll to the Directions tab.
              @see components/clinic-page/node--res-clinic--full.tabs.html.twig
              @see components/anchor-scroll/anchor-scroll.js
            #}
            <a href="{{ url }}#directions-tab-tab---" class="clinic-card__street-address-link">{{ content.field_res_building.0 }}</a>
          {% else %}
            {{ content.field_res_building.0 }}
          {% endif %}
        {% endif %}
      </address>

      {#
        Services
        Header and "See all services" link (if > 3) are in the field template.
        @see field--node--field-res-medical-services--res-clinic.html.twig
      #}
      {% if content.field_res_medical_services.0 is not empty %}
        {{ content.field_res_medical_services }}
      {% endif %}

      {# TODO: add "Hours today" when data migration is ready #}

      {#
        Appointments: Phone number link
        Phone number formatting is in the field template.
        @see field--node--field-res-phone-number--res-clinic.html.twig
      #}
      {% if content.field_res_phone_number.0 is not empty %}
        <div class="clinic-card__field clinic-card__field-phone">

          <span class="uwm-icon uwm-icon--calendar" aria-hidden="true"></span>

          <h3 class="clinic-card__subheader">{{ "Appointments"|t }}</h3>

          <div class="clinic-card__phone-button">
            {{ content.field_res_phone_number }}
          </div>
        </div>
      {% endif %}

      {# "Urgent care" clockwise snippet #}
      {% if content.field_res_clockwise_id.0 is not empty %}
        {{ content.field_res_clockwise_id }}
      {% endif %}
    </div>

    <div class="clinic-card__cta uwm-accent-color__purple">
      <a class="btn btn-cta btn-cta-link" href="{{ url }}" rel="bookmark">{{ 'See location details'|t }}</a>
    </div>

  </div>
</article>
