{#
/**
 * @file
 * Theme override to display the Homepage node.
 *
 * @see template_preprocess_node()
 */
#}
{%
  set classes = [
    'homepage',
  ]
%}
<article{{ attributes.addClass(classes) }}>

  {{ title_suffix }}

  {# {{ content.field_uwm_homepage_markup }} #}

  {#
    TEMP: For development, work with the markup in this template.
  #}

  {#
    TODO:
    When svgs are set as css background-image, they cannot have color set via
    css `color` - they must be embedded in the markup. We may want to rework
    approach.
    @see src/scss/base/_uwm-svg-icons.scss
    @see https://www.wrike.com/open.htm?id=357236939
  #}
  {% set uwm_icons_path = '/themes/custom/uwmbase/dist/assets/uwm-icons/' %}

  <!-- Hero -->
  <div class="hero hero--background-image" style="background-image:url(/sites/default/files/styles/hero/public/grandmother-and-granddaughter-pnw.jpg?itok=9osYqAYx)">

    <div class="hero__content container-xl">

      <div class="field field--name-field-heading">
        <p class="h1 hero__heading">
          <i class="hidden u-ips"></i>
          There when you need us,<br>
          peace of mind when you don't.
        </p>
      </div>

      <img class="hero__angle-divider" src="/themes/custom/uwmed/dist/assets/hero-angle-lines.png" alt="">

      <div class="field field--name-field-subheading">
        <p class="h2 hero__subheading">
          <i class="hidden u-ips"></i>
          Your home for expert care, anywhere in the Puget Sound region.
        </p>
      </div>
    </div>

    <div class="hero__filter visible-lg"></div>
  </div>
  <!-- /Hero -->

  <!-- CTA button links -->
  <div class="links-with-icon">
    <div class="container-xl">

      <ul class="links-with-icon__list list-unstyled">

        <li class="paragraph-with-cta links-with-icon__item">
          <div class="wrapper">
            <a class="btn btn-default " href="/search/providers" target="">
              <span class="uwmed-icon uwmed-icon__find-a-provider"></span>
              Find a provider
              <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
            </a>
          </div>
        </li>

        <li class="paragraph-with-cta links-with-icon__item">
          <div class="wrapper">
            <a class="btn btn-default " href="/search/locations" target="">
              <span class="uwmed-icon uwmed-icon__find-a-location"></span>
              Find a location
              <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
            </a>
          </div>
        </li>

        <li class="paragraph-with-cta links-with-icon__item">
          <div class="wrapper">
            <a class="btn btn-default " href="/patient-resources/make-an-appointment" target="">
              <span class="uwmed-icon uwmed-icon__appointment"></span>
              Make an appointment
              <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
            </a>
          </div>
        </li>

        <li class="paragraph-with-cta links-with-icon__item">
          <div class="wrapper">
            <a class="btn btn-default " href="/patient-resources/ecare" target="">
              <span class="uwmed-icon uwmed-icon__heart-waveform"></span>
              eCare patient portal
              <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
            </a>
          </div>
        </li>

        <li class="paragraph-with-cta links-with-icon__item">
          <div class="wrapper">
            <a class="btn btn-default " href="/provider-resource/refer-patient" target="">
              <span class="uwmed-icon uwmed-icon__refer-patient"></span>
              Refer a patient
              <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
            </a>
          </div>
        </li>

      </ul>

    </div>
  </div>
  <!-- /CTA button links -->

  <div class="row gradient-divider">

    <div class="field field--name-body">

      <i class="hidden u-ips"></i>

      <style type="text/css">
        /*****************
          @media (min-width: 768px) {
            .patient-confidentiality-alert .ghost-button-white {
              padding-left: 30px;
            }
          }
          @media (max-width: 1199px) {
            .patient-confidentiality-alert {
              margin: 0 15px;
            }
          }
        **********************/
      </style>

      <!------------------------------
      <div class="container-xl patient-confidentiality-alert">
        <div class="row" style="padding-top: 30px;">
          <div class="col-xs-12">
            <p style="font-weight:600;font-size:16px;padding-bottom: 16px;">A note to our patients:</p>
          </div>
        </div>

        <div class="row" style="padding-bottom: 14px;">
          <div class="col-sm-10" style="padding-bottom:16px;">
          <p>UW Medicine take patient confidentiality very seriously and we sincerely regret that a data exposure occurred in December 2018. Patients affected by this exposure are being notified by mail.</p>
        </div>

        <div class="col-sm-2" style="padding-bottom:16px;">
            <p class="ghost-button-white"><a class="btn btn-default" href="https://ide.myidcare.com/uwmedicine">Learn more</a></p>
          </div>
        </div>
      </div>
      -->

    </div>

  </div>

  <!-- Sections -->
  <div class="homepage-sections">

    <!-- Section background images -->
    <div class="homepage-section-background-xl">
      <div class="homepage-section-background-xl__item homepage-section-background-xl__item-1">
        <img class="img-fluid" src="/sites/default/files/styles/hero/public/lucy-hwang.jpg" alt="">
      </div>

      <div class="homepage-section-background-xl__footing"></div>

      <div class="homepage-section-background-xl__item homepage-section-background-xl__item-2">
        <img class="img-fluid" src="/sites/default/files/styles/hero/public/uwm-research2.jpg" alt="">
      </div>

      <div class="homepage-section-background-xl__footing"></div>

      <div class="homepage-section-background-xl__item homepage-section-background-xl__item-3">
        <img class="img-fluid" src="/sites/default/files/styles/hero/public/wwami-alaska-fairbanks-education.jpg" alt="">
      </div>

      <div class="homepage-section-background-xl__footing"></div>
    </div>
    <!-- /Section background images -->

    <!-- Sections field -->
    <div class="field field--name-field-homepage-sections">

      <!-- Patient Care -->
      <section class="homepage-section fade-in-animation">
        <i class="hidden u-ips"></i>

        <div class="homepage-section__background" style="background-image: url('/sites/default/files/styles/hero/public/lucy-hwang.jpg')"></div>

        <div class="container-xl uwm-accent-color__teal">
          <div class="homepage-section__title">
            <h2 class="uwm-accent-heading uwm-accent-heading__title">
              <i class="hidden u-ips"></i>
              Patient Care
            </h2>
          </div>

          <div class="homepage-section__story-link">
            <div class="section-story__play-button cboxElement" id="patientCarePlayButton">
              <span class="section-story__play-button-text">A day in the life: Lucy Hwang, M.D.</span>

              <span class="fa-stack fa-2x">
              <i class="fa fa-circle-thin fa-stack-2x faa-burst animated" style="animation-play-state: running;"></i>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-play fa-stack-1x"></i>
            </span>
            </div>

            <div style="display: none;">
              <div id="patientCareVideo">
                <video id="patientCareVideoPlayer" style="max-width: 100%;" controls="" preload="metadata" crossorigin="anonymous">
                  <source src="https://lyeqby-md.storage.googleapis.com/UWMC_-_Marketing_VMS/682/763/Dr._Hwang_final_cut_1080p.mp4" type="video/mp4">
                  <track label="English" kind="captions" srclang="en" src="https://lyeqby-md.storage.googleapis.com/UWMC_-_Marketing_VMS/682/763/Dr.%20Hwang%20final%20cut.vtt" default="">
                </video>
              </div>
            </div>

          </div>

          <div class="homepage-section__content">

            <div class="field field--name-field-heading">
              <p class="h2 homepage-section__heading">
                <i class="hidden u-ips"></i>
                300 clinics across 44 zip codes treating every medical condition under the sun? Yes, please.
              </p>
            </div>

            <div class="field field--name-field-subheading">
              <h3 class="homepage-section__subheading h5">
                <i class="hidden u-ips"></i>
                Common Resources
              </h3>
            </div>

            <ul class="links-with-icon__list list-unstyled">

              <li class="links-with-icon__item">
                <div class="wrapper">
                  <a class="btn" href="/patient-resources/billing-and-insurance" target="">
                    {# <span class="uwm-icon uwm-icon--accepting-patients"></span> #}
                    {{ source(uwm_icons_path ~ 'icon_accepting_patients.svg', ignore_missing = true) }}
                    <span>Billing and insurance</span>
                    <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
                  </a>
                </div>
              </li>

              <li class="links-with-icon__item">
                <div class="wrapper">
                  <a class="btn" href="/patient-resources/ecare" target="">
                    {# <span class="uwm-icon uwm-icon--heart"></span> #}
                    {{ source(uwm_icons_path ~ 'icon_heart.svg', ignore_missing = true) }}
                    <span>eCare patient portal</span>
                    <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
                  </a>
                </div>
              </li>

              <li class="links-with-icon__item">
                <div class="wrapper">
                  <a class="btn" href="/patient-resources" target="">
                    {# <span class="uwm-icon uwm-icon--patient-resources"></span> #}
                    {{ source(uwm_icons_path ~ 'icon_patient_resources.svg', ignore_missing = true) }}
                    <span>Patient and family resources</span>
                    <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
                  </a>
                </div>
              </li>

              <li class="links-with-icon__item">
                <div class="wrapper">
                  <a class="btn btn-default " href="/services" target="">
                    {# <span class="uwm-icon uwm-icon--medical-services"></span> #}
                    {{ source(uwm_icons_path ~ 'icon_medical_services.svg', ignore_missing = true) }}
                    <span>Available medical services</span>
                    <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
                  </a>
                </div>
              </li>

            </ul>

            <a class="homepage-section__link btn btn-cta" href="/patient-resources">
              Patient Care Home
            </a>

          </div>

        </div>

      </section>
      <!-- /Patient Care -->

      <!-- Medical Research -->
      <section class="homepage-section fade-in-animation">
        <i class="hidden u-ips"></i>

        <div class="homepage-section__background" style="background-image: url('/sites/default/files/styles/hero/public/uwm-research2.jpg')"></div>

        <div class="container-xl uwm-accent-color__orange">

          <div class="homepage-section__title">
            <h2 class="uwm-accent-heading uwm-accent-heading__title">
              <i class="hidden u-ips"></i>
              Medical Research
            </h2>
          </div>

          <div class="homepage-section__story-link"></div>

          <div class="homepage-section__content">

            <div class="field field--name-field-heading">
              <p class="h2 homepage-section__heading">
                <i class="hidden u-ips"></i>
                Five Nobel laureates strong and No. 2 nationally for research funding. We're fast-tracking cures.
              </p>
            </div>

            <div class="field field--name-field-subheading">
              <h3 class="homepage-section__subheading h5">
                <i class="hidden u-ips"></i>
                Common Resources
              </h3>
            </div>

            <ul class="links-with-icon__list list-unstyled">

              <li class="links-with-icon__item">
                <div class="wrapper">
                  <a class="btn" href="https://newsroom.uw.edu/" target="">
                    {#<span class="uwm-icon uwm-icon--media"></span>#}
                    {{ source(uwm_icons_path ~ 'icon_media.svg', ignore_missing = true) }}
                    <span>Latest research in the news</span>
                    <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
                  </a>
                </div>
              </li>

              <li class="links-with-icon__item">
                <div class="wrapper">
                  <a class="btn" href="/school-of-medicine/phd-program" target="">
                    {#<span class="uwm-icon uwm-icon--medical-research"></span>#}
                    {{ source(uwm_icons_path ~ 'icon_medical_research.svg', ignore_missing = true) }}
                    <span>Departments</span>
                    <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
                  </a>
                </div>
              </li>

              <li class="links-with-icon__item">
                <div class="wrapper">
                  <a class="btn" href="https://www.iths.org/participate/" target="">
                    {#<span class="uwm-icon uwm-icon--provider-interests"></span>#}
                    {{ source(uwm_icons_path ~ 'icon_provider_interests.svg', ignore_missing = true) }}
                    <span>Participate in a study</span>
                    <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
                  </a>
                </div>
              </li>

              <li class="links-with-icon__item">
                <div class="wrapper">
                  <a class="btn" href="/about/awards" target="">
                    {#<span class="uwm-icon uwm-icon--5-star-rating"></span>#}
                    {{ source(uwm_icons_path ~ 'icon_5_star_rating.svg', ignore_missing = true) }}
                    <span>Accomplishments and awards</span>
                    <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
                  </a>
                </div>
              </li>

            </ul>

            <a class="homepage-section__link btn btn-cta" href="/research">
              Research Home
            </a>

          </div>

        </div>

      </section>
      <!-- /Medical Research -->

      <!-- UW School of Medicine -->
      <section class="homepage-section fade-in-animation">
        <i class="hidden u-ips"></i>

        <div class="homepage-section__background" style="background-image: url('/sites/default/files/styles/hero/public/wwami-alaska-fairbanks-education.jpg')"></div>

        <div class="container-xl uwm-accent-color__blue">

          <div class="homepage-section__title">
            <h2 class="uwm-accent-heading uwm-accent-heading__title">
              <i class="hidden u-ips"></i>
              UW School of Medicine
            </h2>
          </div>

          <div class="homepage-section__story-link"></div>

          <div class="homepage-section__content">

            <div class="field field--name-field-heading">
              <p class="h2 homepage-section__heading">
                <i class="hidden u-ips"></i>
                Best in class: For 20-plus years the UW School of Medicine has ranked as one of the top med schools in the U.S.
              </p>
            </div>

            <div class="field field--name-field-subheading">
              <h3 class="homepage-section__subheading h5">
                <i class="hidden u-ips"></i>
                Common Resources
              </h3>
            </div>

            <ul class="links-with-icon__list list-unstyled">

              <li class="links-with-icon__item">
                <div class="wrapper">
                  <a class="btn" href="/school-of-medicine/admissions" target="">
                    {#<span class="uwm-icon uwm-icon--accepting-patients"></span>#}
                    {{ source(uwm_icons_path ~ 'icon_accepting_patients.svg', ignore_missing = true) }}
                    <span>Admissions</span>
                    <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
                  </a>
                </div>
              </li>

              <li class="links-with-icon__item">
                <div class="wrapper">
                  <a class="btn" href="/school-of-medicine/about" target="">
                    {#<span class="uwm-icon uwm-icon--medical-specialists"></span>#}
                    {{ source(uwm_icons_path ~ 'icon_medical_specialists.svg', ignore_missing = true) }}
                    <span>Departments and programs</span>
                    <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
                  </a>
                </div>
              </li>

              <li class="links-with-icon__item">
                <div class="wrapper">
                  <a class="btn btn-default " href="/school-of-medicine/md-program/wwami" target="">
                    {#<span class="uwm-icon uwm-icon--languages"></span>#}
                    {{ source(uwm_icons_path ~ 'icon_languages.svg', ignore_missing = true) }}
                    <span>WWAMI regional education</span>
                    <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
                  </a>
                </div>
              </li>

              <li class="links-with-icon__item">
                <div class="wrapper">
                  <a class="btn" href="/school-of-medicine/about/awards" target="">
                    {#<span class="uwm-icon uwm-icon--5-star-rating"></span>#}
                    {{ source(uwm_icons_path ~ 'icon_5_star_rating.svg', ignore_missing = true) }}
                    <span>Award-winning programs</span>
                    <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
                  </a>
                </div>
              </li>

            </ul>

            <a class="homepage-section__link btn btn-cta" href="/school-of-medicine">
              School of Medicine Home
            </a>

          </div>

        </div>

      </section>
      <!-- /UW School of Medicine -->

    </div>
    <!-- /Sections field -->

  </div>
  <!-- /Sections -->

  <!-- Content Spotlight -->
  <section class="content-spotlight uwm-accent-color__yellow">

    <div class="container-xl">

      <h2 class="content-spotlight__title uwm-accent-heading--centered uwm-accent-heading__title">Content Spotlight</h2>

      <h3 class="content-spotlight__header h2">Your daily download from the world of UW Medicine.</h3>

      <div class="content-spotlight__items">

        <!-- Spotlight item 1 -->
        <article class="content-spotlight__item">

          <div class="content-spotlight__image" style="background-image:url(/sites/stevie/files/aneurysmsheadache.jpg)"></div>

          <div class="content-spotlight__cta">
            <a class="btn btn-cta" href="https://rightasrain.uwmedicine.org/well/health/all-about-aneurysms">What you need to know about brain aneurysms</a>
          </div>

        </article>
        <!-- /Spotlight item 1 -->

        <!-- Spotlight item 2 -->
        <article class="content-spotlight__item">

          <div class="content-spotlight__image" style="background-image:url(/sites/stevie/files/crackedcoconut.jpg)"></div>

          <div class="content-spotlight__cta">
            <a class="btn btn-cta" href="https://rightasrain.uwmedicine.org/well/health/coconut-oil-burn-fat">Is coconut oil the fat burner it's cracked up to be?</a>
          </div>

        </article>
        <!-- /Spotlight item 2 -->

        <!-- Spotlight item 3 -->
        <article class="content-spotlight__item">

          <div class="content-spotlight__image" style="background-image:url(/sites/stevie/files/headtrauma.jpg)"></div>

          <div class="content-spotlight__cta">
            <a class="btn btn-cta" href="https://newsroom.uw.edu/resource/studying-how-monitor-and-treat-tbi">Harborview participating in national trial of 2 TBI treatments</a>
          </div>

        </article>
        <!-- /Spotlight item 3 -->

        <!-- Spotlight item 4 -->
        <article class="content-spotlight__item">

          <div class="content-spotlight__image" style="background-image:url(/sites/stevie/files/newsroom_randy-carnell_camera_0.jpg)"></div>

          <div class="content-spotlight__cta">
            <a class="btn btn-cta" href="https://newsroom.uw.edu">UW Medicine Newsroom: A news source for journalists</a>
          </div>

        </article>
        <!-- /Spotlight item 4 -->

      </div>

    </div>

  </section>
  <!-- /Content Spotlight -->

  <!-- Accelerate promo -->
  <section id="block-acceleratepromotionfullwidth" data-block-plugin-id="accelerate_promotion_full_width_block" class="block block-uwmed-uwmcms-blocks block-accelerate-promotion-full-width-block clearfix container-xl">



    <div class="accelerate-promotion-block col-xs-12" style="background-image: url('/themes/custom/uwmed/dist/assets/accelerate-background.png');">
      <div class="container">
        <div class="row">
          <div class="accelerate-promotion-block__logo col-lg-3">
            <img class="img img-responsive" src="/themes/custom/uwmed/dist/assets/accelerate-logo.png" alt="Accelerate: The Campaign for UW Medicine">
          </div>
          <div class="accelerate-promotion-block__content visible-lg col-lg-7"><p>Right now, UW researchers, faculty and students are leading efforts to find cures, promote health and wellness around the world, and improve our community. Accelerate: The Campaign for UW Medicine allows you to be a part of this exciting future. See what's happening now and make a gift today.</p></div><div class="accelerate-promotion-block__cta"><a class="btn btn-default" href="http://www.acceleratemed.org">Learn More</a></div>
        </div>
      </div>
    </div>

  </section>
  <!--/ Accelerate promo -->

</article>
