{{ attach_library('uwmbase/ratings-summary') }}

{% set ratings_details_anchor_id = '#overview-tab-tab---ratings-details' %}

<div class="ratings-summary">
  <div class="ratings-summary__stars-section">
    {% include "@uwmbase/rating-stars/rating-stars.twig" with {'stars': ratings.summary.stars, 'link_url': ratings_details_anchor_id } %}
    {% if ratings.summary.value %}
      <div class="ratings-summary__stars-text">
        <a href="{{ ratings_details_anchor_id }}" class="ratings-summary__link text-link-blue no-underline">
          {{ '@value out of 5'|t({'@value': ratings.summary.value}) }}
        </a>
      </div>
    {% endif %}
  </div>
  {% if ratings.summary.count.ratings or ratings.summary.count.comments %}
    <div class="ratings-summary__count-section">
      {% if ratings.summary.count.ratings %}
        <div class="ratings-summary__ratings-count">
          <a href="{{ ratings_details_anchor_id }}" class="ratings-summary__link text-link-blue no-underline">
            {{ '@count ratings'|t({'@count': ratings.summary.count.ratings}) }}
          </a>
        </div>
      {%  endif %}
      {% if ratings.summary.count.comments %}
        <div class="ratings-summary__comments-count">
          <a href="{{ ratings_details_anchor_id }}" class="ratings-summary__link text-link-blue no-underline">
            {{ '@count comments'|t({'@count': ratings.summary.count.comments}) }}
          </a>
        </div>
      {%  endif %}
    </div>
  {%  endif %}
</div>
