{#{{ drupal_block('views_exposed_filter_block', {view: uwm_locations_search, display_id: page_1}) }}#}

{{ uwm_plugin_block('views_exposed_filter_block:uwm_providers_search-page_1') }}

{#{{ uwm_plugin_block('facet_block:provider_facet_uwmsearchwithin') }}#}

{{ uwm_plugin_block('facet_block:provider_facet_medical_services') }}

<div class="hidden">{{ uwm_plugin_block('facet_block:provider_facet_expertise') }}</div>


{{ uwm_plugin_block('facet_block:provider_facet_languages') }}

{{ uwm_plugin_block('facet_block:provider_facet_gender') }}

{{ include('@uwmbase/search/content-top/search-submit.twig',
  { reset_path: '/search/providers', classes: 'd-none d-xl-inline-block' }) }}

{{ uwm_plugin_block('facet_block:provider_facet_accepting_patients') }}

{{ include('@uwmbase/search/content-top/search-submit.twig',
  { reset_path: '/search/providers', classes: 'd-xl-none' }) }}
