{#
/**
 * @file
 * Theme override to display a Res Clinic node in Card view mode.
 *
 * Note:
 * Via preprocess, the 'url' variable is overridden to link to corresponding
 * UWMed node as appropriate.
 *
 * Custom variables:
 * - url_not_uwmedicine_org: boolean, true if the 'url' links to a site other
 *   than uwmedicine.org
 * - display_context: string, type of node being rendered as the current page
 *   if applicable, else NULL
 *   Uses:
 *   - 'res_clinic' - for Featured Clinics displayed as cards on another clinic
 *      (campus) full page
 * - is_hospital: boolean, value of `field_res_is_hospital`
 *
 * @see template_preprocess_node()
 * @see uwmbase_preprocess_node()
 */
#}

{% import directory ~'/components/clinic-hours/clinic-hours-macros.twig' as _hoursMacro %}

{{ attach_library('uwmbase/clinic-card') }}

{% set has_phone = content.field_res_phone_number.0 is not empty %}

{# TODO: update 'hide' fields logic per discussion with Emily #}
{% set hide_appointment_ctas = node.field_res_hide_appt_ctas.value %}

{# TODO: update `open_scheduling` via preprocess Epic values #}
{% set open_scheduling = content.field_res_epic_department_ids.0 is not empty %}
{% set hide_open_scheduling_cta = node.field_res_hide_open_scheduling.value %}
{% set hide_returning_patient_cta = node.field_res_hide_returning_cta.value %}

{% set cta_special_attributes = []|merge({'data-context-title': node_title}) %}

{#
  Bootstrap grid:

  For locations search:
  - `container` is in page template
  - `row` is in view rows template
  - `col-*` classes are here - these must be children of `row` for flexbox
  @see page--search--locations.html.twig
  @see views-view--unformatted--uwm-locations-geo-search--page-1.html.twig
  @see views-view-unformatted--uwm-locations-search--page-1.html.twig

  For featured clinics on clinic page:
  - `container` is in clinic node template include
  - `row` is in entity reference field template
  - `col-*` classes are here - these must be children of `row` for flexbox
  @see node--res-clinic--full.tabs.body.html.twig
  @see field--node--field-res-featured-clinics--res-clinic.html.twig
#}
<article {{ attributes.addClass(['clinic-card', 'col-sm-6', 'col-lg-4', 'col-xxl-3']).addClass(css_parents_classes) }}>
  <div class="clinic-card__inner">

    {#
      Distance away (if searched by location coordinates)
      This is a custom property added to the node in views preprocessing.
      @see _uwmed_uwmcms_search_preprocess_views_view_uwm_locations_geo_search()
    #}
    {% if display_context != 'res_clinic' %}
      {% if node.view_field__distance_away_miles is not empty %}
        <div class="clinic-card__distance-miles">
          {{ node.view_field__distance_away_miles }} mi
        </div>
      {% endif %}
    {% endif %}

    {#
      Clinic Image
      The placeholder image is rendered here if the field is empty.
      Link is applied in field template.
      @see field--node--field-res-image--res-clinic.html.twig
    #}
    {% if display_context != 'res_clinic' %}
      <div class="clinic-card__image">

        {% set image = content.field_res_image %}

        {% if content.field_res_image|render|trim is empty %}
          {% set image %}
            <img src="/{{ directory }}/src/assets/uwmed_location_card_placeholder.svg" alt="" class="img-fluid"/>
          {% endset %}
        {% endif %}

        {{ uwm_cta_link(image|render, url, css_parents_classes, cta_special_attributes) }}

      </div>
    {% endif %}

    <div class="clinic-card__details">

      {#
        Clinic name and address

        The <address> element should contain the name for which the address is
        relevant - thus wrapping the title and Building fields.
      #}
      <address class="clinic-card__address">

        <h2 class="clinic-card__name">
          {{ uwm_cta_link(label|render, url, css_parents_classes, cta_special_attributes) }}
        </h2>

        {{ title_suffix }}

        {% if display_context != 'res_clinic' %}
          {#
            Address
            This is the Building term, rendered in the "Building: Address only"
            view mode, to print its address field only. The address has been
            modified in preprocess to inject the Floor and Room Number fields from
            this node.
            @see uwmbase_preprocess_node()
            @see uwmbase_preprocess_taxonomy_term()
            @see taxonomy-term--buildings--building-address.html.twig
            @see address-plain--buildings.html.twig
            @TODO: improve this - bypass rendering term
          #}
          {% if content.field_res_building.0|render|striptags|trim is not empty %}
            {% if not url_not_uwmedicine_org %}
              {#
                Use hash to activate and scroll to the Directions tab.
                @see components/clinic-page/node--res-clinic--full.tabs.html.twig
                @see components/anchor-scroll/anchor-scroll.js
              #}
              <a href="{{ url }}#directions-tab-tab---" class="clinic-card__street-address-link">{{ content.field_res_building.0 }}</a>
            {% else %}
              {{ content.field_res_building.0 }}
            {% endif %}
          {% endif %}
        {% endif %}

      </address>

      {#
        Services
        Header and "See all specialties" link (if > 3) are in the field template.
        @see field--node--field-res-medical-services--res-clinic.html.twig
      #}
      {% if content.field_res_medical_services.0 is not empty %}
        {{ content.field_res_medical_services }}
      {% endif %}

      {#
        Location hours
        @see node--res-clinic--full.html.twig
        @see clinic-hours-macros.twig
      #}
      {% if hours is not empty and (hours.operation.open_close.opens_next is not empty or hours.operation.always_open or hours.urgent.open_close.opens_next is not empty or hours.urgent.always_open or is_hospital) %}
        <div class="clinic-card__field clinic-card__location-hours icon">

          <span class="uwm-icon uwm-icon--clock" aria-hidden="true"></span>

          <h3 class="clinic-card__subheader">{{ "Hours Today"|t }}</h3>

          {{ _hoursMacro.display_clinic_card_location_hours(hours, url, is_hospital) }}

        </div>
      {% endif %}

      {#
        Appointments
      #}
      {% if has_phone or open_scheduling %}

        <div class="clinic-card__field clinic-card__appointments icon">

          {% if is_hospital %}
            <span class="uwm-icon uwm-icon--heart" aria-hidden="true"></span>
            <h3 class="clinic-card__subheader">{{ "Contact"|t }}</h3>
          {% else %}
            <span class="uwm-icon uwm-icon--calendar" aria-hidden="true"></span>
            <h3 class="clinic-card__subheader">{{ "Appointments"|t }}</h3>
          {% endif %}

          <div class="clinic-card__appointment-buttons">

            {#
              Phone number button
            #}
            {% if has_phone %}

              {% set tel = node.field_res_phone_number.0.value|trim %}
              {{ uwm_cta_link(
                tel|uwm_format_phone('.'),
                'tel:' ~ tel|uwm_format_phone,
                [css_parents_classes, 'btn-cta-solid', 'clinic-card__appointment-button', 'clinic-card__phone-button'],
                cta_special_attributes) }}

            {% endif %}

            {#
              "Book Online" button
              @see field--node--field-res-epic-department-ids--res-clinic.html.twig
            #}
            {% if open_scheduling %}
              {{ content.field_res_epic_department_ids }}
            {% endif %}

          </div> <!-- /.clinic-card__appointment-buttons -->

        </div> <!-- /.clinic-card__appointments -->

      {% endif %}

      {#
        Urgent Care
        "Get in Line" button (Clockwise)
        @see field--node--field-res-clockwise-id--res-clinic.html.twig
      #}
      {% if content.field_res_clockwise_id.0 is not empty %}

        <div class="clinic-card__field clinic-card__clockwise-block icon">

          <span class="uwm-icon uwm-icon--urgent-care" aria-hidden="true"></span>

          <h3 class="clinic-card__subheader">{{ 'Urgent Care'|t }}</h3>

          {{ content.field_res_clockwise_id }}

        </div> <!-- /.clinic-card__clockwise-block -->

      {% endif %}

    </div> <!-- /.clinic-card__details -->

    {#
      "See Location Details" button
    #}
    {% if display_context != 'res_clinic' %}
      <div class="clinic-card__cta uwm-accent-color__purple">
        {#
          TODO: would be good to remove `clinic-card` class here as it is used
          on the outer wrapper of the entire card.
          This is not used in GTM, but may be used by Healthgrades tracking??
        #}
        {{ uwm_cta_link('See location details'|t, url, [css_parents_classes, 'btn', 'btn-cta', 'clinic-card'], cta_special_attributes) }}
      </div>
    {% endif %}

  </div>
</article>
