
{#

//    MAIN TAB

    #}

{% set has_video = content.field_res_node_videos|render|striptags|trim is not empty ? true : false %}
{% set col_1_attributes = create_attribute() %}
{#{% set biography = content.field_res_biography|render|uwm_replace_markup|striptags('<p><br><a>') %}#}
{% set biography = content.field_res_biography|render|uwm_replace_markup|check_markup('rich_text') %}
{% set personal_interests = content.field_res_personal_interests|render|uwm_replace_markup|check_markup('rich_text') %}

{% set col_1_classes =
    [
        'col-xs-12',
        has_video ? 'col-md-7',
    ] %}

{#{{ devel_breakpoint() }}#}


<div class="row">

    <div{{ col_1_attributes.addClass(col_1_classes) }}>

        <h3>{{ 'Biography'|t }}</h3>

        {% if biography is not empty %}
            {{ biography }}

            {% if personal_interests is not empty %}

                <h3>{{ 'Personal Interests'|t }}</h3>
                {{ personal_interests }}

            {% endif %}

        {% else %}

            We’ll have {{ content.field_res_name|render|striptags|trim }}’s bio available soon.

        {% endif %}


    </div>

    {% if has_video %}
        <div class="provider-video col-xs-12 col-md-5">
            {{ content.field_res_node_videos }}
        </div>
    {% endif %}

</div>
