{% extends "@uwmbase/containers/article/article.twig" %}

{#
/**
 * @file
 * Theme override to display a Res Provider in full-page view mode.
 *
 * @see template_preprocess_node()
 * @see uwmbase_preprocess_node()
 *
 */
#}

{% set modifier_class = attributes.class ~ ' container-xl' %}
{% set acceptingAppointments = 'Yes' in content.field_res_isacceptingnewpts.0 ? TRUE : FALSE %}
{%
  set taxonomy_subsection_attributes = create_attribute({
    'class': [
      'provider-page__section1-area2-subsection',
      'col-12'
    ]
  })
%}
{%
  set specialties_subsection_attributes = create_attribute({
    'class': [
      'provider-page__section1-area2-subsection',
      taxonomy_terms.conditions_symptoms is not empty or taxonomy_terms.procedures_treatments is not empty ? 'provider-page__section1-area2-subsection--inline',
      'col-12'
    ]
  })
%}

{% block content %}
    {{ attach_library('uwmbase/provider-page') }}
    {{ title_suffix }}

    <div class="bg provider-page">
        <section class="provider-page__section1">
            <div class="provider-page__section1-area1">
                <h1 class="provider-page__section1-name page-title d-block d-lg-none">{{ label }}</h1>
                <div class="provider-page__section1-photo">
                    {% if has_photo %}
                        {{ content.field_res_image }}
                    {% else %}
                        <img src="/{{ directory }}/dist/assets/provider-silhouette.svg" alt="" />
                    {% endif %}
                </div>
                <div class="provider-page__section1-area1-subsection">
                    {% if acceptingAppointments %}
                        <div class="provider-page__section1-accepting-patients">
                            <i class="uwm-icon uwm-icon--accepting-patients-teal" aria-hidden="true"></i>
                            {{ "Accepting new patients"|t }}
                        </div>
                        {#
                        <div class="provider-page__section1-make-appt-btn">
                            {{ uwm_cta_link('Make an appointment'|t, provider_appointments_uri, ['btn', 'btn-cta-solid']) }}
                        </div>
                        #}
                    {% else %}
                        <div class="provider-page__section1-accepting-patients">
                            <i class="uwm-icon uwm-icon--not-accepting-patients" aria-hidden="true"></i>
                            {{ "Not accepting new patients"|t }}
                        </div>
                    {% endif %}
                    {# TODO: confirm how `field_res_isacceptingnewpts` should
                       affect open/direct scheduling options available #}
                    <div class="provider-page__section1-appt-actions">
                        {% include directory ~ '/components/provider-page/node--res-provider--appointment-actions.html.twig' with {
                            'modal_appt_context': 'provider_page',
                            'class_prefix': 'provider-page__section1'
                        } %}
                    </div>
                </div>
            </div>
            <div class="provider-page__section1-area2">
                <h1 class="provider-page__section1-name page-title d-none d-lg-block">{{ label }}</h1>
                <div class="provider-page__section1-taxonomy">
                  {% if taxonomy_terms.expertises is not empty %}
                      <div{{ specialties_subsection_attributes }}>
                          <h2 class="provider-page__section1-subheading">{{ (taxonomy_terms.expertises|length > 1) ? "Medical Specialties"|t : "Medical Specialty"|t }}</h2>
                          <ul class="provider-page__section1-list">
                              {% for term in taxonomy_terms.expertises %}
                                  <li class="provider-page__section1-list-item">
                                      {% if term.url is not empty %}
                                          {{ uwm_cta_link(term.name, term.url, ['text-link-blue', 'no-underline']) }}
                                      {% else %}
                                          {{ term.name }}
                                      {% endif %}
                                  </li>
                              {% endfor %}
                          </ul>
                      </div>
                  {% endif %}
                  {% set taxonomy_subsection_classes = [
                      taxonomy_terms.conditions_symptoms is not empty and taxonomy_terms.procedures_treatments is not empty ? 'col-md-6' : '',
                  ] %}
                  {% if taxonomy_terms.conditions_symptoms is not empty %}
                      <div{{ taxonomy_subsection_attributes.addClass(taxonomy_subsection_classes) }}>
                          <h2 class="provider-page__section1-subheading">{{ "Top Conditions &amp; Symptoms"|t }}</h2>
                          <ul class="provider-page__section1-list">
                              {% for term in taxonomy_terms.conditions_symptoms %}
                                  <li class="provider-page__section1-list-item">
                                      {% if term.url is not empty %}
                                          {{ uwm_cta_link(term.name, term.url, ['text-link-blue', 'no-underline']) }}
                                      {% else %}
                                          {{ term.name }}
                                      {% endif %}
                                  </li>
                              {% endfor %}
                          </ul>
                      </div>
                  {% endif %}
                  {% if taxonomy_terms.procedures_treatments is not empty %}
                      <div{{ taxonomy_subsection_attributes.addClass(taxonomy_subsection_classes) }}>
                          <h2 class="provider-page__section1-subheading">{{ "Top Procedures &amp; Treatments"|t }}</h2>
                          <ul class="provider-page__section1-list">
                              {% for term in taxonomy_terms.procedures_treatments %}
                                  <li class="provider-page__section1-list-item">
                                      {% if term.url is not empty %}
                                          {{ uwm_cta_link(term.name, term.url, ['text-link-blue', 'no-underline']) }}
                                      {% else %}
                                          {{ term.name }}
                                      {% endif %}
                                  </li>
                              {% endfor %}
                          </ul>
                      </div>
                  {% endif %}
                </div>
            </div>
        </section>
        <section class="provider-page__section2">
            {% include directory ~ '/components/provider-page/node--res-provider--tabs.html.twig' %}
        </section>
    </div>
{% endblock %}
