{% extends "@uwmbase/containers/article/article.twig" %}
{#{% extends directory ~ "/templates/content/node.html.twig" %}#}

{#
/**
 * @file
 * Theme override to display a Res Provider in full-page view mode.
 *
 * @see template_preprocess_node()
 * @see uwmbase_preprocess_node()
 *
 */
#}

{% set modifier_class = attributes.class ~ ' container-xl zzzzzzzz' %}

{% set acceptingAppointments = 'Yes'
    in content.field_res_isacceptingnewpts.0 ? TRUE : FALSE %}



{% block content %}

    {{ attach_library('uwmbase/provider-page') }}

    {{ title_suffix }}


    <div class="bg">

        <div class="row">

            <section class="left col-xs-12 col-sm-3">

                <div class="col-xs-6 col-sm-12 headshot">
                    {{ content.field_res_image }}
                </div>

                <div class="col-sm-12 spl">
                    {% if acceptingAppointments %}
                        <i class="uwm-icon uwm-icon--accepting-patients-teal" aria-hidden="true"></i>
                        {{ "Accepting new patients"| t }}
                    {% else %}
                        <i class="uwm-icon uwm-icon--not-accepting-patients" aria-hidden="true"></i>
                        {{ "Not accepting new patients"| t }}
                    {% endif %}
                </div>

                <div class="col-sm-12 spl">
                    {% if acceptingAppointments %}
                        <a href="{{ provider_appointments_uri }}">{{ "Make an Appointment"|t }}
                            <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    {% else %}
                        <a href="/search/providers">{{ "Find a Provider"|t }}
                            <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    {% endif %}
                </div>

                <div class="col-sm-12 spl">
                    {% if content.field_res_expertises %}
                        {% set Specialties = content.field_res_expertises|uwm_filter_non_numeric_keys|uwm_replace_links_with_text|sort %}

                        <h5>{{ (Specialties|length > 1) ? "Medical Specialties" : "Medical Specialty"| t }}</h5>
                        <ul>
                            {% for i in Specialties %}
                                <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="col-sm-12 spl">
                    {% if content.field_res_languages %}
                        {% set Languages = content.field_res_languages|uwm_filter_non_numeric_keys|uwm_replace_links_with_text|sort %}
                        <h5>{{ "Languages"| t }}</h5>
                        <ul>
                            {% for i in Languages %}
                                <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

            </section>


            <section class="right col-xs-12 col-sm-9">

                {% include directory ~ '/components/provider-page/node--res-provider--tabs.html.twig' %}

                {#{{ content }}#}

            </section>

        </div>

    </div>


    {#
      -- TEST --
      Try embedding the ecare scheduling widget as an iframe.
      This is for technical testing only, not realistically placed in layout.

      Use same logic as exists in node--provider-card.html.twig
    #}

    {% if node.field_res_is_open_scheduling.0.value == 1 and node.field_res_ser_id.0.value %}

        {% set visit_type_id = node.field_res_visit_type_id.0.value ? node.field_res_visit_type_id.0.value : 9000 %}

        {% set open_scheduling_url = "https://ecare.uwmedicine.org/prod01/OpenScheduling/SignupAndSchedule/EmbeddedSchedule?id=#{node.field_res_ser_id.0.value}&vt=#{visit_type_id}&view=plain" %}

        <iframesrc="{{ open_scheduling_url }}" scrolling="no" style="width: 100%;"></iframe>

    {% endif %}

    {#
      -- END TEST --
    #}

    {#{{ content }}#}


{% endblock %}
