{#
/**
 * @file
 * Template to display a provider's available appointment actions in the
 * context of a provider bio page (Res Provider node in full view mode).
 *
 * If available for this provider, this links to the modal appointment flow to
 * guide a user to open or direct scheduling in eCare.
 *
 * @see node--res-provider.html.twig
 */
#}

{#
  Relevant variables from parent template:

  modal_appt_context: string - where the modal is being used. One of:
    'provider_page' - provider bio (node) page
    'provider_card' - provider card on search results or a clinic page tab
  class_prefix: string - prefix for CSS classes in this template, that groups
    them within enclosing elements in the parent template

  ................
  Manually managed:
    accepting_new: boolean - whether provider is accepting new patients
    accepting_returning: boolean - whether provider is accepting new patients

  Data from Epic:
    epic_id: the provider's Epic/SER ID number
    open_scheduling: boolean - whether provider is enabled for open scheduling
    visit_type_ids: array - provider's open scheduling visit type IDs, if any
    direct_scheduling: boolean - whether provider is enabled for direct scheduling
#}

{%
  set ecare_base_url = 'https://ecare.uwmedicine.org/prod01/'
%}
{# TEST -- DO NOT MERGE TO MASTER -- #}
{%
  set ecare_base_url = 'https://tstecare18.epic.medical.washington.edu/tst/'
%}
{# --------------------------------- #}

{#
  Define URLs to eCare for this provider.
  Epic ID should be provided, but protect against bad data.
#}
{% if epic_id is not empty %}
  {% if direct_scheduling %}
    {% set url_direct_scheduling = ecare_base_url ~ 'Scheduling?workflow=ExistingProvider&selProvId=' ~ epic_id %}
  {% endif %}

  {# TODO: this only needs to be defined here if we are NOT embedding the
     open scheduling widget - in which case it's linked from the initial button,
     rather than opening within the modal. #}
  {% if open_scheduling and visit_type_ids is not empty and visit_type_ids|length == 1 %}
    {% set url_open_scheduling_one_type = ecare_base_url ~ 'OpenScheduling/SignupAndSchedule/EmbeddedSchedule?id=' ~ epic_id ~ '&vt=' ~ visit_type_ids.0 ~ '&view=plain' %}
  {% endif %}
{% endif %}

{#
  Set attributes for button and link to online options, including those needed
  for analytics tracking.
  Note: `css_parents_classes` is set in uwmbase_preprocess_node().

  TODO: confirm desired attributes for analytics.
  TODO: confirm whether to use `uwm_cta_link()`.
#}
{%
  set btn_online_attrs = create_attribute({
    'class': [
      class_prefix ~ '-appt-flow-btn',
      'btn-cta-solid',
      'uwm-cta',
      'cta-from-' ~ request_path|clean_class,
      'provider-page__book-online',
    ]|merge(css_parents_classes),
    'data-context-title': node_title|trim
  })
%}
{%
  set link_returning_attrs = create_attribute({
    'class': [
      'uwm-cta',
      'cta-from-' ~ request_path|clean_class,
      'provider-page__book-online-returning',
    ]|merge(css_parents_classes),
    'data-context-title': node_title|trim
  })
%}

{#
  Set data attributes for the link/button to pass the provider's accepting
  patients statuses and Epic scheduling values to the modal.
  The modal can retrieve these because the element that triggered it is set as
  the `event.relatedTarget`.
  @see https://getbootstrap.com/docs/4.1/components/modal/#varying-modal-content
#}
{% set modal_attrs %}
  data-toggle="modal"
  data-target="#modal-appointment-provider"
  data-provider-accepting-new="{{ (accepting_new ? '1' : '0') }}"
  data-provider-accepting-returning="{{ (accepting_returning ? '1' : '0') }}"
  data-provider-epic-id="{{ epic_id }}"
  data-provider-open-scheduling="{{ (open_scheduling ? '1' : '0') }}"
  data-provider-visit-type-ids="{{ visit_type_ids|join('|') }}"
  data-provider-direct-scheduling="{{ (direct_scheduling ? '1' : '0') }}"
{% endset %}

{#
  Output possible appointment actions.
#}
{% if not accepting_returning and not accepting_new %}
  {# --- Not accepting any patients --- #}
  {# Nothing here - handled in parent template. #}

{% elseif accepting_returning and not accepting_new %}
  {# --- Accepting returning patients only --- #}

  <p class="{{ class_prefix }}-appt-call">{{ "Returning patients can call to schedule an appointment with this provider."|t }}</p>

  {#
    Direct scheduling link, if enabled.
    This opens the modal to first check if user has visited within the last
    3 years, which is required to use eCare.
  #}
  {% if direct_scheduling and (url_direct_scheduling is not empty) %}
    <p class="{{ class_prefix }}-appt-link-direct">
      <a href="#modal-appointment-provider" {{ modal_attrs }} {{ link_returning_attrs }}>{{ "Returning patients with an eCare account can book online."|t }}</a><span class="uwm-icon uwm-icon--arrow-right-blue" aria-hidden="true"></span>
    </p>
  {% endif %}

{% elseif accepting_new and not accepting_returning %}
  {# *** Accepting new patients only *** #}
  {# ------------------------------------------------------------------------
    Note: realistically, if provider is accepting new, they should also be
    accepting returning. However, respect the data, and do not offer the
    direct scheduling option if set as not accepting returning.
    (This should be logged as likely bad data.)
  ------------------------------------------------------------------------ #}

  {% if not open_scheduling %}

    <p class="{{ class_prefix }}-appt-call">{{ "Call to schedule an appointment with this provider."|t }}</p>

  {% elseif open_scheduling %}

    {# Button to open modal #}
    <button type="button" {{ modal_attrs }} {{ btn_online_attrs }}>{{ "Book appointment online"|t }}</button>

  {% endif %}

{% elseif accepting_new and accepting_returning %}
  {# --- Accepting new and returning patients --- #}

  {% if not direct_scheduling and not open_scheduling %}
    {# --- No online scheduling at all --- #}

    <p class="{{ class_prefix }}-appt-call">{{ "Call to schedule an appointment with this provider."|t }}</p>

  {% elseif direct_scheduling and not open_scheduling %}
    {# --- Direct scheduling only --- #}

    <p class="{{ class_prefix }}-appt-call">{{ "Call to schedule an appointment with this provider."|t }}</p>

    {#
      Direct scheduling link
      This opens the modal to first check if user has visited within the last
      3 years, which is required to use eCare.
    #}
    {% if url_direct_scheduling is not empty %}
      <p class="{{ class_prefix }}-appt-link-direct">
        <a href="#modal-appointment-provider" {{ modal_attrs }} {{ link_returning_attrs }}>{{ "Returning patients with an eCare account can book online."|t }}</a><span class="uwm-icon uwm-icon--arrow-right-blue" aria-hidden="true"></span>
      </p>
    {% endif %}

  {% elseif open_scheduling %}
    {# --- Open scheduling only, 1 appt type
           Open scheduling only, multiple appt types
           Open scheduling, 1 appt type / Direct scheduling
           Open scheduling, multiple types / Direct scheduling --- #}

    {% if false and (not direct_scheduling) and (visit_type_ids is not empty) and (visit_type_ids|length == 1) %}
      {#
        TODO: Open scheduling only, 1 appt type
        This case only needs to be separated if we are NOT embedding the open
        scheduling widget - in which case it's linked from the button, rather
        than opening within the modal.
      #}

      {% if url_open_scheduling_one_type is not empty %}
        <a href="{{ url_open_scheduling_one_type }}" target="_blank" {{ btn_online_attrs }}>{{ "Book appointment online"|t }}</a>
      {% endif %}

    {% else %}

      {# Button to open modal #}
      <button type="button" {{ modal_attrs }} {{ btn_online_attrs }}>{{ "Book appointment online"|t }}</button>

    {% endif %}

  {% endif %}
{% endif %}

{#
  Appointment flow modal - if there are any online options.
#}
{% if (accepting_returning and direct_scheduling) or (accepting_new and open_scheduling) %}

  {% include '@uwmbase/appointment-flow/uwm-appointment-modal.html.twig' with {
    'flow_type': 'provider'
  } %}

{% endif %}
