{#

//    OUR NAV TABS & TABS CONTENT

    #}



{% set research_tab = node.field_res_pubmed_ids is not empty %}

{# If the provider has locations or a video and is not independent,
the Overview tab should be the default. Otherwise, the About Me tab
should be the default. #}
{% set active_tab = (has_locations or has_video) and not is_independent ? 'overview' : 'about' %}

<nav class="provider-page__tabs-nav uw-navtabs uw-navtabs--blue-accent">
  <ul class="nav nav-tabs" id="nav-tab" role="tablist">
    <li class="nav-item">
      <a class="{{ 'provider-page__overview-tab-trigger nav-item nav-link' ~ (active_tab == 'overview' ? ' active' : '') }}" id="overview-tab-tab"
        data-toggle="tab"
        href="#overview-tab" role="tab" aria-controls="overview-tab"
        data-tab-history="true"
        data-tab-history-changer="push"
        data-tab-history-update-url="true">
        {{ 'Overview'|t }}
      </a>
    </li>

    <li class="nav-item">
      <a class="{{ 'provider-page__about-tab-trigger nav-item nav-link'  ~ (active_tab == 'about' ? ' active' : '') }}" id="about-tab-tab"
        data-toggle="tab"
        href="#about-tab" role="tab" aria-controls="about-tab"
        aria-selected="false"
        data-tab-history="true"
        data-tab-history-changer="push"
        data-tab-history-update-url="true">
        {{ 'About Me'|t }}
      </a>
    </li>

    {% if research_tab %}
      {#
      We set the research tab to "disabled", so that the
      ./providers-page.js can complete a callback, and their research
      information has populated. The javascript enables the tab once complete.
      #}
      <li class="nav-item">
        <a class="provider-page__research-tab-trigger nav-item nav-link disabled" id="research-tab-tab"
           data-toggle="tab"
           href="#research-tab" role="tab" aria-controls="research-tab"
           aria-selected="false"
           data-tab-history="true"
           data-tab-history-changer="push"
           data-tab-history-update-url="true">
          {{ 'Research'|t }}
        </a>
      </li>
    {% endif %}
  </ul>
</nav>


{#

//    OUR TABS CONTENT:



#}

{% set tab_pane_classes = ['tab-pane', 'fade'] %}

<div class="tab-content uwm-tab-content tab-content uwm-accent-color__blue" id="nav-tabContent">
  <section class="{{ tab_pane_classes|join(' ') ~ (active_tab == 'overview' ? ' show active' : '') }}" id="overview-tab" role="tabpanel" aria-labelledby="overview-tab-tab">
    <a name="overview" id="overview"></a>
    {% include directory ~ '/components/provider-page/node--res-provider--tabs-overview.html.twig' %}
  </section>

  <section class="{{ tab_pane_classes|join(' ') ~ (active_tab == 'about' ? ' show active' : '') }}" id="about-tab" role="tabpanel" aria-labelledby="about-tab-tab">
    <a name="about" id="about"></a>
    {% include directory ~ '/components/provider-page/node--res-provider--tabs-about.html.twig' %}
  </section>

  {% if research_tab %}
    <section class="{{ tab_pane_classes|join(' ') }}" id="research-tab" role="tabpanel" aria-labelledby="research-tab-tab">
      <a name="research" id="research"></a>
      {% include directory ~ '/components/provider-page/node--res-provider--tabs-research.html.twig' %}
    </section>
  {% endif %}

</div>
