{% extends "@uwmbase/containers/article/article.twig" %}

{#
/**
 * @file
 * Theme override to display a Res Provider in full-page view mode.
 *
 * @see template_preprocess_node()
 * @see uwmbase_preprocess_node()
 *
 */
#}

{% set modifier_class = attributes.class ~ ' container-xl' %}
{% set modifier_class = has_ratings ? modifier_class ~ ' node-res_provider--has-ratings' : modifier_class ~ ' node-res_provider--no-ratings' %}
{% set is_independent = node.field_res_is_independent.0.value ? true : false %}
{% set modifier_class = is_independent ? modifier_class ~ ' node-res_provider--is-independent' : modifier_class %}
{% set acceptingAppointments = 'Yes' in content.field_res_isacceptingnewpts.0 ? TRUE : FALSE %}

{%
  set taxonomy_subsection_attributes = create_attribute({
    'class': [
      'provider-page__section1-area2-subsection',
      'col-12'
    ]
  })
%}
{%
  set specialties_subsection_attributes = create_attribute({
    'class': [
      'provider-page__section1-area2-subsection',
      taxonomy_terms.conditions_symptoms is not empty or taxonomy_terms.procedures_treatments is not empty ? 'provider-page__section1-area2-subsection--inline',
      'col-12'
    ]
  })
%}

{% block content %}
    {{ attach_library('uwmbase/provider-page') }}
    {{ title_suffix }}

    <div class="bg provider-page">
        <section class="provider-page__section1">
            <div class="provider-page__section1-area1">
                <h1 class="provider-page__section1-name page-title d-block d-lg-none">{{ label }}</h1>
                <div class="provider-page__section1-photo">
                    {% if has_photo %}
                        {{ content.field_res_image }}
                    {% else %}
                        <img src="/{{ directory }}/dist/assets/provider-silhouette.svg" alt="" />
                    {% endif %}
                </div>
                {% if  has_ratings or not is_independent %}
                  <div class="provider-page__section1-area1-subsection">
                      {% if not is_independent %}
                          {% if acceptingAppointments %}
                              <div class="provider-page__section1-accepting-patients">
                                  <i class="uwm-icon uwm-icon--accepting-patients-teal" aria-hidden="true"></i>
                                  {{ "Accepting new patients"|t }}
                              </div>
                          {% else %}
                              <div class="provider-page__section1-accepting-patients">
                                  <i class="uwm-icon uwm-icon--not-accepting-patients" aria-hidden="true"></i>
                                  {{ "Not accepting new patients"|t }}
                              </div>
                          {% endif %}
                      {% endif %}

                      {% if has_ratings %}
                          {% include "@uwmbase/ratings-summary/ratings-summary.twig" %}
                      {% endif %}

                      {% if acceptingAppointments and not is_independent %}
                          <div class="provider-page__section1-make-appt-btn">
                              {{ uwm_cta_link('Make an appointment'|t, provider_appointments_uri, ['btn-cta-solid']) }}
                          </div>
                      {% endif %}
                  </div>
                {% endif %}
            </div>
            <div class="provider-page__section1-area2">
                <h1 class="provider-page__section1-name page-title d-none d-lg-block">{{ label }}</h1>
                <div class="provider-page__section1-taxonomy">
                  {% if taxonomy_terms.expertises is not empty or taxonomy_terms.specialties_unindexed is not empty %}
                      <div{{ specialties_subsection_attributes }}>
                          <h2 class="provider-page__section1-subheading">{{ (taxonomy_terms.expertises|length > 1) ? "Medical Specialties"|t : "Medical Specialty"|t }}</h2>
                          <ul class="provider-page__section1-list">
                              {% for term in taxonomy_terms.expertises|merge(taxonomy_terms.specialties_unindexed) %}
                                  <li class="provider-page__section1-list-item">
                                      {%- if term.url is not empty %}
                                          {{- uwm_cta_link(term.name, term.url, ['text-link-blue', 'no-underline']) -}}
                                      {%- else %}
                                          {{- term.name -}}
                                      {% endif -%}
                                  </li>
                              {% endfor %}
                          </ul>
                      </div>
                  {% endif %}
                  {% set taxonomy_subsection_classes = [
                      taxonomy_terms.conditions_symptoms is not empty and taxonomy_terms.procedures_treatments is not empty ? 'col-md-6' : '',
                  ] %}
                  {% if taxonomy_terms.conditions_symptoms is not empty %}
                      <div{{ taxonomy_subsection_attributes.addClass(taxonomy_subsection_classes) }}>
                          <h2 class="provider-page__section1-subheading">{{ "Top Conditions &amp; Symptoms"|t }}</h2>
                          <ul class="provider-page__section1-list">
                              {% for term in taxonomy_terms.conditions_symptoms %}
                                  <li class="provider-page__section1-list-item">
                                      {% if term.url is not empty %}
                                          {{ uwm_cta_link(term.name, term.url, ['text-link-blue', 'no-underline']) }}
                                      {% else %}
                                          {{ term.name }}
                                      {% endif %}
                                  </li>
                              {% endfor %}
                          </ul>
                      </div>
                  {% endif %}
                  {% if taxonomy_terms.procedures_treatments is not empty %}
                      <div{{ taxonomy_subsection_attributes.addClass(taxonomy_subsection_classes) }}>
                          <h2 class="provider-page__section1-subheading">{{ "Top Procedures &amp; Treatments"|t }}</h2>
                          <ul class="provider-page__section1-list">
                              {% for term in taxonomy_terms.procedures_treatments %}
                                  <li class="provider-page__section1-list-item">
                                      {% if term.url is not empty %}
                                          {{ uwm_cta_link(term.name, term.url, ['text-link-blue', 'no-underline']) }}
                                      {% else %}
                                          {{ term.name }}
                                      {% endif %}
                                  </li>
                              {% endfor %}
                          </ul>
                      </div>
                  {% endif %}
                </div>
            </div>
        </section>
        <section class="provider-page__section2">
            {% include directory ~ '/components/provider-page/node--res-provider--tabs.html.twig' %}
        </section>
    </div>

    {% if has_ratings %}
        {# Define the SVG star symbols to use on the page. #}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol id="svg-rating-star-0" viewBox="0 0 18.1 17.3"><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="#fff" stroke="#5e348b" stroke-miterlimit="10"/></symbol>
          <symbol id="svg-rating-star-10" viewBox="0 0 18.1 17.3"><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="#fff"/><path d="m.7 6.4c-.2.2-.2.5-.2.7 0 .3.2.5.4.7l.9.9v-2.8l-.3.1c-.3 0-.6.1-.8.4z" fill="#5e348b"/><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="none" stroke="#5e348b" stroke-miterlimit="10"/></symbol>
          <symbol id="svg-rating-star-20" viewBox="0 0 18.1 17.3"><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="#fff"/><path d="m.7 6.4c-.2.2-.2.5-.2.7 0 .3.2.5.4.7l2.7 2.6v-4.7l-2.1.3c-.3 0-.6.1-.8.4z" fill="#5e348b"/><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="none" stroke="#5e348b" stroke-miterlimit="10"/></symbol>
          <symbol id="svg-rating-star-30" viewBox="0 0 18.1 17.3"><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="#fff"/><path d="m.7 6.4c-.2.2-.2.5-.2.7 0 .3.2.5.4.7l2.9 2.9c.2.2.3.6.3.9l-.7 4c0 .2 0 .4.1.6s.3.4.6.5h.3c.2 0 .3 0 .5-.1l.5-.3v-10.9l-3.9.6c-.3 0-.6.1-.8.4z" fill="#5e348b"/><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="none" stroke="#5e348b" stroke-miterlimit="10"/></symbol>
          <symbol id="svg-rating-star-40" viewBox="0 0 18.1 17.3"><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="#fff"/><path d="m5.5 5.4-4 .6c-.3 0-.6.1-.8.4-.2.2-.2.5-.2.7 0 .3.2.5.4.7l2.9 2.9c.2.2.3.6.3.9l-.7 4c0 .2 0 .4.1.6s.3.4.6.5h.3c.2 0 .3 0 .5-.1l2.3-1.2v-12.4l-1 1.9c-.1.3-.4.5-.7.5z" fill="#5e348b"/><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="none" stroke="#5e348b" stroke-miterlimit="10"/></symbol>
          <symbol id="svg-rating-star-50" viewBox="0 0 18.1 17.3"><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="#fff"/><path d="m8.1 1.2-1.9 3.7c-.1.3-.4.5-.7.5l-4 .6c-.3 0-.6.1-.8.4-.2.2-.2.5-.2.7 0 .3.2.5.4.7l2.9 2.9c.2.2.3.6.3.9l-.7 4c0 .2 0 .4.1.6s.3.4.6.5h.3c.2 0 .3 0 .5-.1l3.7-1.9c.1-.1.3-.1.5-.1v-14c-.1 0-.2 0-.3.1-.4.1-.6.2-.7.5z" fill="#5e348b"/><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="none" stroke="#5e348b" stroke-miterlimit="10"/></symbol>
          <symbol id="svg-rating-star-60" viewBox="0 0 18.1 17.3"><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="#fff"/><path d="m9.4.7c-.1 0-.2-.1-.4-.1-.1 0-.2 0-.3.1-.3.1-.5.2-.6.5l-1.9 3.7c-.1.3-.4.5-.7.5l-4 .6c-.3 0-.6.1-.8.4-.2.2-.2.5-.2.7 0 .3.2.5.4.7l2.9 2.9c.2.2.3.6.3.9l-.7 4c0 .2 0 .4.1.6s.3.4.6.5h.3c.2 0 .3 0 .5-.1l3.7-1.9c.1-.1.3-.1.5-.1s.3 0 .5.1l1.3.7v-12.4l-1-1.8c-.1-.2-.3-.4-.5-.5z" fill="#5e348b"/><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="none" stroke="#5e348b" stroke-miterlimit="10"/></symbol>
          <symbol id="svg-rating-star-70" viewBox="0 0 18.1 17.3"><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="#fff"/><path d="m11.7 4.9-1.8-3.7c-.1-.2-.3-.4-.5-.5-.1 0-.2-.1-.4-.1-.1 0-.2 0-.3.1-.3.1-.5.2-.6.5l-1.9 3.7c-.1.3-.4.5-.7.5l-4 .6c-.3 0-.6.1-.8.4-.2.2-.2.5-.2.7 0 .3.2.5.4.7l2.9 2.9c.2.2.3.6.3.9l-.7 4c0 .2 0 .4.1.6s.3.4.6.5h.3c.2 0 .3 0 .5-.1l3.7-1.9c.1-.1.3-.1.5-.1s.3 0 .5.1l3.1 1.6v-10.9h-.1c-.5 0-.7-.2-.9-.5z" fill="#5e348b"/><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="none" stroke="#5e348b" stroke-miterlimit="10"/></symbol>
          <symbol id="svg-rating-star-80" viewBox="0 0 18.1 17.3"><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="#fff"/><path d="m11.7 4.9-1.8-3.7c-.1-.2-.3-.4-.5-.5-.1 0-.2-.1-.4-.1-.1 0-.2 0-.3.1-.3.1-.5.2-.6.5l-1.9 3.7c-.1.3-.4.5-.7.5l-4 .6c-.3 0-.6.1-.8.4-.2.2-.2.5-.2.7 0 .3.2.5.4.7l2.9 2.9c.2.2.3.6.3.9l-.7 4c0 .2 0 .4.1.6s.3.4.6.5h.3c.2 0 .3 0 .5-.1l3.7-1.9c.1-.1.3-.1.5-.1s.3 0 .5.1l3.6 1.8c.1.1.3.1.5.1h.1c.3 0 .5-.2.7-.4 0 0 0-.1.1-.1v-1.4l-.6-3.2c-.1-.3.1-.7.3-.9l.3-.3v-4.6l-1.9-.3c-.6 0-.8-.2-1-.5z" fill="#5e348b"/><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="none" stroke="#5e348b" stroke-miterlimit="10"/></symbol>
          <symbol id="svg-rating-star-90" viewBox="0 0 18.1 17.3"><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="#fff"/><path d="m11.7 4.9-1.8-3.7c-.1-.2-.3-.4-.5-.5-.1 0-.2-.1-.4-.1-.1 0-.2 0-.3.1-.3.1-.5.2-.6.5l-1.9 3.7c-.1.3-.4.5-.7.5l-4 .6c-.3 0-.6.1-.8.4-.2.2-.2.5-.2.7 0 .3.2.5.4.7l2.9 2.9c.2.2.3.6.3.9l-.7 4c0 .2 0 .4.1.6s.3.4.6.5h.3c.2 0 .3 0 .5-.1l3.7-1.9c.1-.1.3-.1.5-.1s.3 0 .5.1l3.6 1.8c.1.1.3.1.5.1h.1c.3 0 .5-.2.7-.4s.2-.5.2-.7l-.7-4c-.1-.3.1-.7.3-.9l2.1-2v-2.6l-3.7-.5c-.6-.1-.8-.3-1-.6z" fill="#5e348b"/><path d="m4.4 16.6c-.1 0-.2 0-.3 0-.3-.1-.5-.3-.6-.5s-.1-.4-.1-.6l.7-4c.1-.3-.1-.7-.3-.9l-2.9-2.8c-.2-.2-.4-.4-.4-.7s0-.5.2-.7c.2-.3.5-.4.8-.4l4-.6c.3 0 .6-.3.8-.5l1.9-3.7c.1-.2.3-.4.6-.5.1 0 .2-.1.3-.1s.3 0 .4.1.3.3.4.5l1.8 3.7c.1.3.4.5.8.5l4 .6c.3 0 .5.2.7.4s.3.5.2.7c0 .2-.1.5-.3.6l-2.9 2.9c-.2.2-.3.6-.3.9l.7 4c0 .3 0 .5-.2.7s-.4.3-.7.4h-.1c-.2 0-.3 0-.5-.1l-3.6-1.8c-.1-.1-.3-.1-.5-.1s-.3 0-.5.1l-3.7 1.9c-.1 0-.2 0-.4 0z" fill="none" stroke="#5e348b" stroke-miterlimit="10"/></symbol>
          <symbol id="svg-rating-star-100" viewBox="0 0 18.1 17.3"><path d="m4.4 17.1c-.2 0-.3 0-.5-.1-.4-.1-.7-.4-.9-.7-.1-.3-.2-.6-.2-.8l.7-4c0-.2 0-.3-.1-.4l-2.9-3c-.2-.2-.4-.5-.5-.9 0-.4.1-.8.3-1.1.3-.4.7-.6 1.2-.6l3.9-.6c.2 0 .3-.1.4-.3l1.9-3.6c.2-.4.5-.6.9-.8.4-.1.8-.1 1.1.1.3.1.5.4.6.7l1.8 3.7c.1.1.2.3.4.3l4 .6c.4 0 .7.2 1 .5s.4.7.3 1.1c0 .4-.2.7-.4.9l-2.9 2.9c-.1.1-.2.3-.1.4l.7 4c0 .4-.1.8-.3 1.1s-.6.5-1 .6c-.4 0-.6 0-.9-.2l-3.6-1.8c-.2-.1-.3-.1-.5 0l-3.7 1.9c-.2.1-.5.1-.7.1z" fill="#5e348b"/></symbol>
        </svg>
    {% endif %}
{% endblock %}
