{#
/**
 * @file
 * Theme override for Clockwise ID field on Res Clinic nodes.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * Custom variables:
 * - view_mode: The view mode in which the entity with this field is currently
 *   being rendered.
 * - node_url: The URL to the node rendering this field. (This has been altered
 *   as necessary to link back to clinic node pages on UWMed.)
 *
 * @see template_preprocess_field()
 * @see uwmbase_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}

{#
   The field value is the Clockwise ID, passed to JS in the attribute.
   JS then updates the wait time text and link.
   @see src/js/clinic-clockwise-wait-times.js
#}
{% set value = items.0.content|render|trim %}

{#
  Card view mode -----------------------------------------------------------
  @see node--res-clinic--card.html.twig
 #}
{% if view_mode is same as('card') %}

{% set label = 'Urgent care'|t %}

  <div{{ attributes.addClass(classes) }}>

    <span class="uwm-icon uwm-icon--urgent-care" aria-hidden="true"></span>

    <h3 class="clinic-card__subheader">{{ label }}</h3>

    <div class="uwm-clockwise__card " data-uwm-clockwise-wait-time="{{ value }}">
      <p class="js-wait-link">
        <a class="clinic-card__buttons btn btn-outline-primary" href="/patient-care/making-an-appointment" target="_blank">{{ "Get in line"|t }}</a>
      </p>
      <p class="js-wait-text">&nbsp;</p>
    </div>

  </div>

{#
  Full view mode -----------------------------------------------------------
  @see components/clinic-page/node--res-clinic--full.html.twig
#}
{% elseif view_mode is same as('full') %}

  <div class="clinic-page__urgent-wait" data-uwm-clockwise-wait-time="{{ value }}">
    <div class="clinic-page__urgent-wait-top">
      <h2 class="clinic-page__urgent-wait-header">{{ "Urgent Care"|t }}</h2>
      <span class="clinic-page__urgent-wait-link js-wait-link">
        <a href="/patient-care/making-an-appointment" target="_blank">{{ "Get in line"|t }}<i class="fa fa-angle-right" aria-hidden="true"></i></a>
      </span>
    </div>
    <div class="clinic-page__urgent-wait-text js-wait-text">&nbsp;</div>
  </div>

{# Other view modes --------------------------------------------------------- #}
{% else %}
{% endif %}
