{#
/**
 * @file
 * Theme override for Header field on Card paragraph type and Card content
 * block type. Using the same field machine name enables common theming between
 * Cards as paragraphs and as reusable content blocks.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'card-header',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{# Let's iterate over the items to determine how we want to print them #}
{% set has_image = false %}
{% set has_cta = false %}

{% for item in items %}
    {% if not has_image %}
        {% set has_image = item.content["#paragraph"].bundle == "uwm_image" %}
    {% endif %}
    {% if not has_cta %}
        {% set has_cta = item.content["#paragraph"].bundle == "uwm_cta_link" %}
    {% endif %}
{% endfor %}
{% if has_image and has_cta %} 
    {% set is_cta_header = true %}
    {% set classes = classes|merge(['uwm-card-header__cta']) %}
{% endif %}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'field__items') }}>
    {% for item in items %}
        {{ item.content }}
    {% endfor %}
    {% if is_cta_header %}<div class="uwm-card-header__cta-filter"></div>{% endif %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class="field__items">
    {% endif %}
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
