{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('uwmbase/search-general') }}

{% set href = row.node_href %}
{% set content_type = row.node.bundle %}
{#{{ devel_breakpoint() }}#}


<article {{ attributes.addClass(['search-result-card', 'col-sm-6', 'col-lg-4']) }}>
  <div class="search-result-card__inner">
    <div class="search-result-card__header">
      <h2 class="search-result-card__title">
        <a class="search-result-card__link" href="{{ href }}">{{ row.node.title.value }}</a>
      </h2>
      {% set heading = content_type|replace({'uwm_': '',
        'res_': '',
        '_': ' ',
        '-': '',
        'clinic': 'location',
        'service': 'Specialty',
        'Service Line': '',

      }) %}
      {% if content_type is not same as("uwm_hub_page") and content_type is not same as("uwm_basic_page") %}
        <p class="search-result-card__type uwm-accent-heading uwm-accent-heading__title">{{- heading -}}</p>
      {% else %}
        <p class="search-result-card__type uwm-accent-heading uwm-accent-heading__transparent uwm-accent-heading__title">
          &nbsp;</p>
      {% endif %}
    </div>
    <div class="search-result-card__teaser">
        {{- row.uwmcs_search_teaser_raw|raw -}}
    </div>
  </div>
</article>


{#{{ drupal_entity('node', row.nid, 'search-result') }}#}
