{#
/**
 * @file
 * Theme override for a CTA Link paragraph.
 *
 * Custom variables:
 * - link_attributes: Attribute object for <a> tag
 * - fluid_width: boolean, whether to style as fluid width
 * - btn_cta_solid: boolean, whether to style as solid-background-color button
 *   (instead of standard CTA button with upper left corner color)
 * - field_uwm_link__url: string, the URL string value from field_uwm_link
 * - field_uwm_link__title: string, the title string value from field_uwm_link
 *
 * @see uwmbase_preprocess_paragraph__uwm_cta_link()
 */
#}
{% if content.field_uwm_link.0 is not empty %}
  {%
    set link_classes = [
      'btn',
      btn_cta_solid ? 'btn-cta-solid' : 'btn-cta',
      fluid_width ? 'btn-cta-fluid' : 'btn-cta-link',
    ]
  %}

  {#
    If this is a link to an ID/anchor elsewhere on this page (URL starts with
    '#') OR on a different page ('#' within URL), append the '---' to trigger
    animated scroll handling (if the user did not enter the delimiter in the
    field value).
    Also bypass the custom case that opens a featured story modal.
    @see components/anchor-scroll/anchor-scroll.js
  #}
  {% if ('#' in field_uwm_link__url)
    and not ('---' in field_uwm_link__url)
    and not (field_uwm_link__url starts with '#modal-') %}
    {% set field_uwm_link__url = field_uwm_link__url ~ '---' %}
  {% endif %}

  {#
    If this link is set to open a modal associated to parent Featured Story,
    add the necessary attributes. (This takes the place of the 'play' button
    otherwise added in the modal paragraph template.)
    @see paragraph--uwm-modal--uwm-featured-story.html.twig
  #}
  {% if field_uwm_link__url starts with '#modal-' %}
    <a {{ link_attributes.addClass(link_classes) }}
       href="{{ field_uwm_link__url }}"
       data-toggle="modal"
       data-target="{{ field_uwm_link__url }}"
    >
  {% else %}
    <a {{ link_attributes.addClass(link_classes) }} href="{{ field_uwm_link__url }}">
  {% endif %}

    <span class="btn__text">{{ field_uwm_link__title }}</span>

    {% if not fluid_width and not btn_cta_solid %}
      <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
    {% endif %}
  </a>
{% endif %}
