{#
/**
 * @file
 * Theme implementation to display a Grid paragraph.
 *
 * Custom variables:
 * - style_as_cards: boolean; if any of the child paragraphs are either a Card
 *   type of paragraph or Card type of content block, style all as cards.
 * - use_column_dividers: boolean; whether to style with divider lines between
 *   card children instead of usual card styling, from checkbox field.
 * - add_container: boolean, whether to add Bootstrap grid container wrapper
 *   (via usual `.container-xl`). This is a fallback only if the Grid is not
 *   within a Section or Sections for Medical Services parent paragraph.
 * - field_uwm_columns_per_row: integer; value extracted from this field.
 *
 * @see template_preprocess_paragraph()
 * @see uwmbase_preprocess_paragraph__uwm_grid()
 */
#}
{{ attach_library('uwmbase/grid-paragraph') }}

{# The template default set classes. #}
{# Sets Paragraph ID as class. #}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'paragraph--id--' ~ paragraph.id.value,
    'uwm-grid',
    use_column_dividers ? 'uwm-grid-column-dividers',
    add_container ? 'container-xl',
  ]
%}

{#
  Retrieve the desired number of items per row from field.

  Note: previously, if items were cards, the Bootstrap "card deck" wrapper was
  used to place however many items there were into a single row. Thus this
  field value was ignored, and the content may have incorrect values in it.
  For the cards case now, automatically set a reasonable number of cards per
  row (including responsive handling) based on total number of cards.
  @see https://www.wrike.com/open.htm?id=354924642
#}
{% if field_uwm_columns_per_row is not empty %}
  {% set grid_classes = 'col-sm-6 col-lg-' ~ 12 / field_uwm_columns_per_row %}
{% endif %}

{% if style_as_cards %}

  {# 2 items = 2 per row #}
  {% if total_grid_items == 2 %}
    {% set grid_classes = 'col-sm-6' %}

  {# 4 items = 2 per row, @ lg+ 4 per row #}
  {% elseif total_grid_items == 4 %}
    {% set grid_classes = 'col-sm-6 col-lg-3' %}

  {# 3 or 5+ items #}
  {% elseif (total_grid_items == 3 or total_grid_items > 4) %}

    {#
      Dividers styling:
      If there are only vertical borders between items, not full card styling,
      the card content has a bit more width, so we fit 3 @ 768px+
      2 per row, @ md+ 3 per row
    #}
    {% if use_column_dividers %}
      {% set grid_classes = 'col-sm-6 col-md-4' %}

    {#
      Normal card styling:
      Card content is narrower because cards have both space between them and
      side padding within each one - so we fit 3 @ 992px+
      2 per row, @ lg+ 3 per row
    #}
    {% else %}
      {% set grid_classes = 'col-sm-6 col-lg-4' %}

    {% endif %}

  {% endif %}

{% endif %}


<div {{ attributes.addClass(classes) }}>
  <div class="{{ style_as_cards ? 'uwm-grid__cards' : 'uwm-grid__items' }} row">
    {% for key, item in content.field_uwm_columns if key|first != '#' %}
      <div class="{{ style_as_cards ? 'uwm-grid__card' : 'uwm-grid__item' }} {{ grid_classes }}">
        {{ item }}
      </div>
    {% endfor %}
  </div>
</div>
