{#
/**
 * @file
 * Theme implementation to display a Section paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * Custom variables:
 * - background_image_url: string, URL to background image for entire section.
 * - custom_css_classes: string, any custom CSS classes entered in
 *   field_uwm_css_class.
 *
 * @see template_preprocess_paragraph()
 * @see uwmbase_preprocess_paragraph__uwm_section()
 */
#}
{#
  Add classes from field values:
  - if there is a background image
  - accent color
  - background color
  - custom entered classes
#}
{%
  set classes = [
    'uwm-section',
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'paragraph--id--' ~ paragraph.id.value,
    background_image_url ? 'uwm-section--background-image',
    content.field_uwm_accent_color.0 is not empty ? content.field_uwm_accent_color|render,
    content.field_uwm_background_color.0 is not empty ? 'uwm-section--background-' ~ paragraph.field_uwm_background_color.entity.label|lower,
    custom_css_classes|length > 0 ? custom_css_classes
  ]
%}

<section{{ attributes.addClass(classes) }}>

  {# Render background image in separate container so it can be fixed height. #}
  {% if background_image_url is not empty %}
    <div class="uwm-section__background-image" style="background-image: url({{ background_image_url }});"
{#    data-background-image-xl="url({{ background_image_xl_url }})"#}
    ></div>
  {% endif %}

  <div class="container-xl">

    {#
      Section Heading (H2)
      @see field--paragraph--field-uwm-section-heading.html.twig
    #}
    {% if content.field_uwm_section_heading|render|striptags %}
      {{ content.field_uwm_section_heading }}
    {% else %}
      <div class="h2-placeholder"></div>
    {% endif %}

    {# Child components #}
    {{ content.field_uwm_component }}

  </div>
</section>
