{#
/**
 * @file
 * Theme implementation to display a Featured Story paragraph.
 * This template also renders Featured Story block_content entities.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * Custom variables:
 * - is_block_content: boolean; true if this paragraph is rendering a referenced
 *   Featured Story block_content entity (i.e. reusable component), coming from
 *   `field_uwm_block`. In this case, preprocessing populates the `content`
 *   variable with the referenced block's fields, so that this template renders
 *   them directly instead of with nested templates.
 *
 * @see uwmbase_preprocess_paragraph__uwm_featured_story()
 * @see template_preprocess_paragraph()
 */
#}

{{ attach_library('uwmbase/featured-story') }}

{#
  Add classes from field values, with defaults if empty.
  @see field--field-uwm-bottom-border-options.html.twig
  @see field--field-uwm-accent-color.html.twig
#}
{%
  set classes = [
    'uwm-section',
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'paragraph--id--' ~ paragraph.id.value,
    'uwm-featured-story',
    content.field_uwm_bottom_border_options.0 ? content.field_uwm_bottom_border_options|render : 'uwm-bottom-border__angled',
    content.field_uwm_accent_color.0 ? content.field_uwm_accent_color|render,
    is_block_content ? 'uwm-featured-story--block-content',
  ]
%}

<section{{ attributes.addClass(classes) }}>
  {#
    The Featured Story block_content type uses a media reference field in place
    of the image file field on the paragraph type. Check for both here.
  #}
  {% if content.field_uwm_image.0 is not empty %}
    <div class="uwm-featured-story__background">
      {{ content.field_uwm_image }}
    </div>
  {% elseif content.field_uwm_media_image.0 is not empty %}
    <div class="uwm-featured-story__background">
      {{ content.field_uwm_media_image }}
    </div>
  {% endif %}

  <div class="container-xl">
    <div class="row">
      <div class="uwm-featured-story__content col-12 col-md-8 col-lg-6 col-xl-4">

        {#
          Accent Heading
          @see field--paragraph--field-uwm-short-formatted-text--uwm-featured-story.html.twig
          @see field--block-content--field-uwm-short-formatted-text--featured-story.html.twig
        #}
        {{ content.field_uwm_short_formatted_text }}

        {#
          Story Title
          @see field--paragraph--field-uwm-section-heading--uwm-featured-story.html.twig
          @see field--block-content--field-uwm-section-heading--featured-story.html.twig
        #}
        {{ content.field_uwm_section_heading }}

        {#
          Content - may include:
          - Basic Content components
          - CTA Link components
        #}
        {{ content.field_uwm_card_content }}

      </div>
    </div>

    {#
      Modal paragraph
      @see paragraph--uwm-modal--uwm-featured-story.html.twig
    #}
    {{ content.field_uwm_modal }}

  </div>
</section>
